@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

html, body, div {
  margin: 0 auto;
  padding: 0;
  display: block;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

/* COLOR */

#page-title {
  font-family: 'Ubuntu Mono', 'monospace';
  font-weight: 400;
  font-size: 42pt;
  color: #454545;
}

#search {
  font-family: 'Ubuntu Mono', 'monospace';
  font-weight: 400;
  font-size: 18pt;
  color: #454545;
}

table {
  font-family: 'Ubuntu Mono', 'monospace';
  font-weight: 400;
  font-size: 18pt;
  color: #454545;
}

/* tr:nth-child(even) {
  background: #CCC
}
tr:nth-child(odd) {
  background: #FFF
} */

/* STRUCTURE */

#search {
  width: 75%;
  margin: 50px 0 0 0;
  padding: 5px;
}

#wrapper-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid #aaaa;
  padding: 0 10px 0 10px
}

tbody tr:hover {
  background-color: #aaaa;
}

td:first-child {
  text-align: center;
}

td {
  padding: 5px;
  text-align: right;
}
